---
import { getCollection } from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro";
import 'bootstrap/dist/css/bootstrap.css'


---
<BaseLayout>
   title="Éxito | Formulario de Contacto"
  <h1 class="text-success mt-5">¡Gracias por contactarme!</h1>
  <p>Tu mensaje ha sido enviado exitosamente. Me pondré en contacto contigo pronto.</p>
  <p><a href="/" class="btn btn-primary mt-3">Volver al inicio</a></p>
</BaseLayout>

