---
// import 'bootstrap/dist/css/bootstrap.css'
// import { Breadcrumb } from 'astro-bootstrap';
// import 'fonts.googleapis.com/css?family=Noto+Sans';
---
<div class="contact_form">

		<div class="formulario">			
      


					<form action="submeter-formulario.php" method="post">				

						
								<p>
									<label for="nombre" class="colocar_nombre">Nombre
										<span class="obligatorio">*</span>
									</label>
										<input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
								</p>
							
								<p>
									<label for="email" class="colocar_email">Email
										<span class="obligatorio">*</span>
									</label>
										<input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email">
								</p>
						
								
								
							
								<p>
									<label for="mensaje" class="colocar_mensaje">Mensaje
										<span class="obligatorio">*</span>
									</label>                     
                               		  <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio" placeholder="Deja aquí tu comentario..."></textarea> 
                               	</p>	  								
							
								<button type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>

												
						
					</form>
		</div>	
	</div>
  <style>
    .contact_form{	
	width: 90%; 
  height: auto;
  margin: 0 auto;
	border-radius: 10px;  
  border: #5d1b83 solid 2px;
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 1rem; 
  box-shadow: 5px 2px 10px 5px rgba(96, 19, 119, 0.1);
  }


  @media (min-width: 50em) {
  .contact_form{	
	width: 40%; 
  height: auto;
  margin: 0 auto;
	border-radius: 10px;  
  border: #5d1b83 solid 2px;
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
  box-shadow: 5px 2px 10px 5px rgba(96, 19, 119, 0.1);
  }
}


input{
	background-color: #fbfbfb; 
	width: 95%; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 95%; 
	height: 5rem; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}

button{
	/* height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ab4493; 
	border-color: #ab4493; 
	border-style: solid; 
	border-radius: 10px;	*/
	width: 95%;   
  cursor: pointer; 
   border-color: var(--accent-text-over);
        position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 0.56em 2em;
		gap: 0.8em;
		color: var(--accent-text-over);
		line-height: 1.1;
		border-radius: 999rem;
		overflow: hidden;
		background: var(--gradient-accent-orange);
		box-shadow: var(--shadow-md);
}


button p{
	color: #fff; 
}



p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 2px solid #5462dd;
}


.formulario textarea:focus{
	outline:0;
border: 2px solid #5462dd;
}

  </style>

